@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard');
  src: url('./Pretendard-Regular.subset.woff2') format('woff2');
  src: url('./Pretendard-Regular.subset.woff') format('woff');
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard');
  src: url('./Pretendard-Bold.subset.woff2') format('woff2');
  src: url('./Pretendard-Bold.subset.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}
